[submodule "Spike_Protein_WE_Simulations"]
	path = Spike_Protein_WE_Simulations
	url = https://github.com/shirleyahn/we_scripts
[submodule "HIF2alpha_unbinding"]
	path = HIF2alpha_unbinding
	url = https://github.com/westpa/HIF2alpha_unbinding
